 #lightbox, #lightboxB {
        position:fixed;
        top:0;
        left:0;
        height:100vh;
        width:100vw;
        background:rgba(100,100,100,0.7);
        display:none;
        justify-content:center;
        align-items:center;
        z-index:1000;
      }
      #resultContainer {
        position:absolute;
        top:10vh;
        left:0;
        height:90vh;
        width:100vw;
        display:flex;
        justify-content:center;
        align-items:center;
        z-index:1;
      }
      .submitter{
        width:100%;
      }
       .lightbox-content {
       background:white;
        padding:2em;
         border-radius:12px;
         text-align:center;
         max-width:400px;
         width:80%;
         position:relative;
         box-shadow: 0 0 15px rgba(0,0,0,0.3);
      }
      #close-btn, #close-btnB {
        position:absolute;
        top:10px;
        right:15px;
        font-size:1.8em;
        cursor:pointer;
        color:red;
      }
      #searchBar {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
  height: 100%;
}
      #toast-container {
        position:fixed;
        bottom:2vh;
        right:2vw;
        z-index:9999;
        display:flex;
        flex-direction:column;
        gap:1vh;
      }
      .toast {
        background-color:#4CAF50;
        color:white;
        padding: 1rem 1.5rem;
        border-radius:5px;
        font-size:1rem;
        box-shadow: 0 0 10px;
        animation:fadein 0.5s, fadeout 0.5s 14.5s;
        opacity:0;
        animation-fill-mode:forwards;
      }
      @keyframes fadein {
        from {opacity:0; transform:translateX(50%);}
        to {opacity:1; transform:translateX(0);}
      }
      @keyframes fadeout {
        from {opacity:1; transform:translateX(0);}
        to {opacity:0; transform:translateX(50%);}
      }

 body {
          margin: 0;
          padding:1rem;
          height: 100vh;
          width: 100vw;
          display:flex;
          justify-content:center; /* aligné à l'horizontal */
          align-items:center; /* aligné en vertical */
          background: #30a72f;
          font-family: Arial, sans-serif;
           box-sizing:border-box; 
      }
      .menu {
        display:flex;
        flex-direction:column;
        justify-content:space-around;
        width:90%;
        height:90%;
     
      }
      .thispage {
        top:10vh;
        height:90vh;
        position:absolute;
      }
      .form-container {
          background: white;
          padding: 2rem;
          border-radius: 1rem;
          width:100%;
          height:auto;
          max-width:400px;
          box-shadow: 0 8px 20px rgba(0,0,0,0.7);
         box-sizing:border-box;
      }
      input {
        width: 100%;
        padding: 0.75rem;
        margin-bottom: 1rem;
        border: 1px solid #ccc;
        border-radius: 0.5rem;
        font-size: 1rem;
        box-sizing:border-box; 
      }
      button {
        background-color:#1d5bb3;
        color:white;
       
        border: none;
        border-radius: 0.5rem;
        font-size: 1rem;
        cursor:pointer;
        transition:background 0.3s ease;
       box-sizing:border-box;
      }
      button:hover {
        background-color:red;
      }
      .button_driver {
        height:5vh;
        font-size:clamp(1rem, 1.25rem, 1.5rem);
      }
      .img {
        max-width:80%;
        height:auto;
       box-sizing:border-box;
        margin:0.5rem;
      }
      .head {
        background:linear-gradient(90deg, black, grey);
        display:flex;
        position:fixed; /* Fixed is better than absolute as it fix the position even when scolling */
        top:0;
        left:0; /* We'll take the left side as a spot better than the right one */
        width:100%;
        height:10vh;
        align-items:center; /* We center everything in height */
        justify-content:space-between; /* Distribue l'espace horizontalement */
        padding:0 1rem; /* Espace entre bordure et contenu */
        box-sizing:border-box;
        color:white;
        font-weight:bold; /* Police d'écriture en gras */
        z-index:1000;
      }
      .head_small {
        background:linear-gradient(90deg, black, grey);
        display:flex;
        position:fixed; /* Fixed is better than absolute as it fix the position even when scolling */
        top:10vh;
        left:0; /* We'll take the left side as a spot better than the right one */
        width:100%;
        height:5vh;
        align-items:center; /* We center everything in height */
        justify-content:center; /* Distribue l'espace horizontalement */
        padding:0 1rem; /* Espace entre bordure et contenu */
        box-sizing:border-box;
        color:white;
        font-weight:bold; /* Police d'écriture en gras */
        z-index:1000;
      }
      .circle {
        width:5vh;
        height:5vh;
        border-radius:50%;
        overflow:hidden;
        position:relative;
      }

      .circleB {
        width:15vh;
        height:15vh;
        border-radius:50%;
        overflow:hidden;
        position:relative;
      }
       .circle img, .circleB img {
        width:100%;
        height:100%;
        object-fit:cover;
        position:absolute;
        top:50%;
        left:50%;
        transform: translate(-50%,-50%);
      }
      #heure, #portal, #logo_eurea, #compte, #visuBtn, #adminBtn {
        display:flex;
        align-items:center;
        white-space:nowrap; /* Forcer le texte à rester sur une seule ligne */
      }
  
      #logo_eurea img {
        height:6vh;
        cursor:pointer;
      }

      #compte p {
        margin:0;
        font-size:1rem;
        margin-left:2vh;
      }

      @media (max-width: 680px) { /* Ce qui se cache sur la version mobile */
        #portal {
           display:none;
         }
        button {
          font-size:0.75rem;
        } 
      }
